

    body {
        font-family: Arial, sans-serif;
        margin: auto;
        padding: 0;
        background-color: #f4f4f4;
        color: #333;
        overflow-x: hidden;       

    }

    html {
        scroll-behavior: smooth;
    }

    h1, h2, h3 {
        color: #333;
    }

   
    .preloader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
      }
      
      .preloader-spinner {
        width: 40px;
        height: 40px;
        border: 8px solid black;
        border-top:  8px solid  whitesmoke;
        border-bottom: 8px solid whitesmoke;
        border-radius: 50%;
        animation: spin 1s linear infinite;
      }
      
      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    
    header {
        background-color: #333;
        color: #fff;
        padding: 10px 0;
        text-align: center;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1000;
        transition: background-color 1s;
    }

    header.scrolled {
        background-color: #222;
    }

    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    nav ul li {
        display: inline;
        margin: 0 10px;
    }

    nav ul li a {
        color: #fff;
        text-decoration: none;
        transition: color 0.3s;
    }

    nav ul li a:hover {
        color: aquamarine;
    }


    section {
        padding: 80px 20px 20px 20px;
        margin: 20px 0;
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 0.6s ease-out, transform 0.6s ease-out;
        border: none;
    }

    section.visible {
        opacity: 1;
        transform: translateY(0);
    }
#projects{
    text-align: center;
}

    .project-1 {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 20px;
        text-align: justify;
        width: 450px;
        margin: 10px; 
    }
    .project-2{
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 20px;
        text-align: justify;
        width: 450px;
        margin: 10px; 
    }
    .projects{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
        padding: 20px;
    }
    

    
    form {
        display: flex;
        flex-direction: column;
    }

    form label {
        margin-bottom: 5px;
    }

    form input, form textarea {
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    form button {
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #333;
        color: #fff;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    form button:hover {
        background-color: #555;
    } 

#home {
    text-align: center;
    width: 100%;
  height: 90vh;
  background: url(https://user-images.githubusercontent.com/74038190/225813708-98b745f2-7d22-48cf-9150-083f1b00d6c9.gif) top right no-repeat;
  background-size: cover;
  position: calc(100% -0);
}
#home h1 {
    font-size: 3em;
    margin-top: 0;
    padding-top: auto;
    color: #fff;
}

#about {
    text-align: left;
    padding: 20px;
}
#about img {
    text-align: center;
}
@media (min-width: 768px) {
    #about img {
        height: 100px;
        width: 100px;
    }
}
@media screen and (max-width: 1000px) {
    #about img {
        height: 100px;
        width: 100px;
    }
   
}
@media screen and (min-width: 1300px) {
    #about img {
        height: 200px;
        width: 200px;
    }
    
}
#contact {
    text-align: center;
    padding: 20px;
}